{% extends 'base.html' %}
{% load static %}

{% block scripts %}

{% endblock scripts %}

{% block title %}{% endblock title %}

{% block content %}
<div class="buttons">
    <div class="grid-wrapper">
      {% for letter in letters %}
        <div class="grid-item">
          {% if forloop.counter == 54 %}
            <button onclick="location.href='{% url 'puzzle2:test' %}'" class="button-89">{{ letter }}</button>
          {% else %}
            <button onclick="location.href='{% url 'puzzle2:fail' %}'" class="button-89">{{ letter }}</button>
          {% endif %}
        </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}