{% extends 'base.html' %}
{% load static %}

{% block scripts %}

{% endblock scripts %}

{% block title %}{% endblock title %}

{% block content %}
    <video autoplay muted loop id="myVideo">
    <source src="{% static 'code.mp4' %}" type="video/mp4">
    </video>
<p>
1fd3c7f<br>
104c541<br>
1745c5d<br>
1741b5d<br>
174ac5d<br>
1045c41<br>
1fd557f<br>
0016b00<br>
1b4f741<br>
0f0929e<br>
1f662f5<br>
132c7c4<br>
05692c9<br>
1f8b7be<br>
1be564b<br>
13aa656<br>
15419f5<br>
001c514<br>
1fca95d<br>
104af12<br>
17587f0<br>
175e467<br>
1742113<br>
10500e7<br>
1fd53f1
</p>
{% endblock content %}