{% extends 'base.html' %}
{% load static %}

{% block scripts %}

{% endblock scripts %}

{% block title %}{% endblock title %}

{% block content %}
    <video autoplay muted loop id="myVideo">
    <source src="{% static 'code.mp4' %}" type="video/mp4">
    </video>
<p>
1fc57f<br>
105541<br>
17565d<br>
17415d<br>
175f5d<br>
105c41<br>
1fd57f<br>
001000<br>
1a6776<br>
0fbea7<br>
17fe79<br>
1615fb<br>
104ee2<br>
0018f5<br>
1fd35e<br>
10486b<br>
174de1<br>
175cf3<br>
174ef5<br>
105330<br>
1fd482
</p>
{% endblock content %}