:root {

  --background:#9ac7da;
  --text:#ebf4f8;
  --number_background:#8bb3c4;
  --number_background:#68a0a6;

}
@font-face {
  font-family: "monospace1";
  src: url(Monospace.ttf);
}

body {
  font-family:monospace;
  margin:0em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    background: black;
}
#myVideo {
  position: fixed;
  z-index:-1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
timer{
    text-align: center;
    background: var(--background);
  font-family: sans-serif;
  font-weight: 100;
}
h1{
  color: #fff;
  font-weight: 100;
  font-size: 90px;
  margin: 40px 0px 20px;
}
h2{
  color: #fff;
  font-weight: 70;
  font-size: 70px;
  margin: 20px 0px 0px;
}
p{
  color: #fff;
  font-weight: 25;
  font-size: 25px;
}
.sigil{
    width:40%;
    cursor:pointer;
}
.sigil2{
    width:10%;
    cursor:pointer;
}
 #clockdiv{
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #000;
    display: inline-block;
}
smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(20, 4.05%);
    grid-auto-rows: 25%;
    grid-gap: 1%;
    grid-auto-flow: row;
    margin: 5%;
}

.grid-item {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width:100%;
    height: 100%;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor:pointer;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
    border-radius: 10%;
}

.button-89:active {
  background: var(--color);
  color: #fff;

}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  min-width: 0;
  outline: none;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
  margin: 5px 5px 5px 5px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.text-input {
    display: inline-block;
}